server:
  port: 9003

spring:
  application:
    name: order-service
  datasource:
    url: jdbc:h2:mem:orderdb;DB_CLOSE_DELAY=-1
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

# URL to call product-service (can use Eureka when integrated)
product:
  service:
    url: http://localhost:9002

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
